.wrapper {
  padding: 100px 40px;
}

.slider {
  width: 1000px;
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.event {
  width: 110px;
  display: flex;
  justify-content: center;
  position: relative;
}

.event::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 3px;
  background-color: #d8d8d8;
  left: 0;
  top: 44%;
  z-index: -1;
}
.eventButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.firstSlider {
  width: 660px;
}

.secondSlider {
  width: 220px;
}
