.wrapper {
  padding: 100px 40px;
}

.slider {
  width: 990px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.event {
  width: 110px;
  display: flex;
  justify-content: center;
  position: relative;
}

.event::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 3px;
  background-color: #d8d8d8;
  left: 0;
  top: 44%;
  z-index: -1;
}

.manageButtons {
  display: flex;
  gap: 20px;
}
